@import "tailwindcss";

@theme {
  --color-void: #080808;
  --color-obsidian: #111111;
  --color-ash: #1c1c1c;
  --color-bone: #f0ece4;
  --color-muted: #6b6b6b;
  --color-ghost: #2a2a2a;
  --color-crimson: #8b1a1a;
  --color-crimson-light: #b22222;
  --color-ice: #c8d8e8;

  --font-heading: "Cinzel", serif;
  --font-body: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #080808;
  color: #f0ece4;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #111111;
}

::-webkit-scrollbar-thumb {
  background: #2a2a2a;
}

::-webkit-scrollbar-thumb:hover {
  background: #8b1a1a;
}